<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="Keywords" content="maozz,blog,js,css,web,front-end">
  {% for tag in blog.tags.all %}
  <meta name="Keywords" content="{{ tag }}">
  {% endfor %}
  <meta name="description" content="这是maozz的博客，记录这学习前端的点点滴滴，记录着我的进步">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>{{ blog.title }}_博客文章_Maozz's blog</title>
  {% load static %}
  <link href="{% static 'blog/css/base.css' %}" rel="stylesheet">
  <link href="{% static 'blog/css/blog.css' %}" rel="stylesheet">
  <script src="{% static 'blog/js/base.js' %}"></script>
</head>
<body>
{% include 'common/nav.html' %}

<div class="blog">
  <h2>{{ blog.title }}</h2>
  <div class="blog-msg">
    <span class="name">发表时间</span><span class="blog-publish-time">{{ blog.publish_time | date:'Y-m-d' }}</span>
    <span class="name">阅读次数</span><span class="blog-view">{{ blog.view }}</span><br>
    <span class="name">文章标签</span>
    {% for tag in blog.tags.all %}
    <span class="blog-tag">{{ tag.name }}</span> 
    {% endfor %}
  </div>
  <div class="blog-content">
    {{ blog.content | safe }}
  </div>
</div>

<div class="comments">
  <h2> {{ comments | length }} 条评论 </h2>

  <form class="post-comment" method="post" action="/comment/">
    {% csrf_token %}
    <textarea name="content" cols="20"></textarea><br>
    <input type="submit" value="提交" class="submit">
    <input type="hidden" name="blog" value="{{ blog.id }}">
  </form>

  {% for comment in comments %}
  <div class="comment">
    <div class="comment-user">{{ comment.user}} 说：</div>
    <div class="comment-time">{{ comment.publish_time | date:'m-d' }}</div>
    <p class="comment-content">{{ comment.content }}</p>
  </div>
  {% endfor %}

</div>

{% include 'common/footer.html' %}
</body>
</html>

