<aside>
  <div class="sort">
    <h2>排序</h2>
    <ul>
      <li><a href="?s=n">最新</a></li>
      <li><a href="?s=h">最热</a></li>
    </ul>
  </div>
  {% if family %}
  <div class="type-list">
    <h2>类别</h2>
    <ul>
      <li><a href='/index.html'>所有</a></li>
      {% for f in family %}
      {% ifnotequal f.name 'demo' %}
      <li><a href='?t={{f.name}}'>{{f.title}}</a></li>
      {% endifnotequal %}
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  <div class="tag-list">
    <h2>标签</h2>
    {% for tag in tags %}
    <a href="?ta={{tag.name}}">{{ tag.name }}</a>
    {% endfor %}
  </div>

  <div class="words">
    <h2><a href="/word/">留言</a></h2>
    {% for word in words %}
    <div>{{ word.content }}
    {% endfor %}
  </div>
</aside>
