<nav>
  <div class="logo"><a href="/index.html"><h1>MaoZz<h1></a></div>
  <ul>
  <!--设置当前页面--!>
    {% ifequal page 0 %}
    <li class="thepage"><a href="/index.html">主页</a></li>
    {% else %}
    <li><a href="/index.html">主页</a></li>
    {% endifequal %}

    {% ifequal page 1 %}
    <li class="thepage"><a href="/blog">文章</a></li>
    {% else %}
    <li><a href="/blog">文章</a></li>
    {% endifequal %}

    {% ifequal page 2 %}
    <li class="thepage"><a href="/demo">展示</a></li>
    {% else %}
    <li><a href="/demo">展示</a></li>
    {% endifequal %}

    {% ifequal page 3 %}
    <li class="thepage"><a href="/about">关于</a></li>
    {% else %}
    <li><a href="/about">关于</a></li>
    {% endifequal %}
  </ul>

  <div class="login">
    {% if user.username %}
    <span><a href="/login/logout" class="logout">退出</a></span>
    <span class="welcome">你好！{{user.username}}</span>
    {% else %}
    <span><a href="/login?f=in" class="signin">登陆</a></span>
    <span><a href="/login?f=up" class="signup">注册</a></span>
    {% endif %}
  </div>
</nav>
