/* css-reset */
*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none;}
a:hover{color: #495a80;}
/* css-reset */

body{background: #f8f8fa;}

/* 导航栏 */
nav{
  box-shadow: 0px .4px .5px #aaa;
  overflow: hidden;
  background: #fff;
}
.logo,
nav li a{
  float: left;
  line-height: 50px;
  color: #333;
  padding: 0 10px;
  font-weight: bold;
  color: #777;
}
.logo{
  margin-left: 10%;
  margin-right: 40px;
  font-family:  Verdana;
}
h1{
  color: #495a80;
}
nav li{
  float: left;
  margin: 0 20px;
}
nav li:hover:not(.thepage){
  border-bottom: 4px solid #aaf;
}
.thepage{
  border-bottom: 4px solid #495a80;
}

/* login */
.login{
  margin-right: 20%;
  float: right;
  font-size: 16px;
  line-height: 30px;
  margin-top: 10px;
}
.welcome,
.logout,
.signin,
.signup{
  background: #26cb7c;
  margin-right: 20px;
  display: inline-block;
  padding: 0 10px;
  border-radius: 3px;
  color: #eee;
  font-weight: bold;
}
.login a:hover{
  color: #fff;
  background: #26aa7c;
}
/* login */

/* 导航栏 */

/* footer */
footer{
  text-align: center;
  margin-top: 30px;
  clear: both;
}
/* footer */

@media screen and (max-width:400px){
  .signin,
  .signup,
  aside{
    display: none;
  }
  .logo{
    margin-left: 5px;
    margin-right: 10px;
  }
  nav li a{
    padding: 0 5px;
  }
  nav li{
    margin: 0 8px;
  }
}
