.blog{
  width: 55%;
  margin-top: 30px;
  margin-left: 10%;
  margin-bottom: 30px;
  background: #fff;
  box-shadow: 1px 1px 2px #aaa;
  border-radius: 4px;
  float: left;
}
.blog h2{
  padding: 12px;
  color: #333;
  font-size: 25px;
  margin: 11px;
}
.blog h3{
  padding: 10px;
  color: #444;
  font-size: 22px;
  margin: 9px;
}
.blog h4{
  padding: 8px;
  color: #555;
  font-size: 20px;
  margin: 7px;
}
.blog h5,
.blog h6{
  padding: 8px;
  color: #555;
  font-size: 18px;
  margin: 6px;
}

.blog li,
.blog p{
  padding: 8px;
  margin: 5px;
  color: #777;
  font-size: 16px;
  line-height: 28px;
  text-indent: 2em;
}

.blog-msg{
  font-size: 13px;
  color: #999;
}

.name{
  color: #fff;
  background: #495a80;
  padding: 3px;
  border-radius: 2px;
  display: inline-block;
}
.blog-msg span{
  margin-left: 15px;
  margin-bottom: 10px;
}

pre{
  background: #fafafa;
  padding: 5px;
  width: 80%;
  margin-left: 5%;
  color: #495a80;
  border: 1px dashed #aaa;
  font-size: 14px;
  font-weight: bold;
}
code{
  word-break: break-all;
  word-wrap: break-word;
}
.blog blockquote p{
  border-left: #26cb7c solid 5px;
  background: #f5f5ff;
  color: #666;
}

.comments{
  float: left;
  width: 20%;
  margin: 30px 5%;
  background: #fff;
  box-shadow: .5px .5px .5px #aaa;
}
.comments *{
  margin-bottom: 10px;
}
.comments h2{
  padding: 10px 10px;
  margin-left: 10px;
}
.submit{
  background: #26cb7c;
  border: none;
  border-radius: 2px;
  font-size: 16px;
  line-height: 26px;
  height: 26px;
  padding: 0 5px;
  color: #eee;
  margin-left: 60%;
}
.submit:hover{
  color: #fff;
  background: #26aa7c;
}
.comments textarea{
  font-size: 16px;
  line-height: 24px;
  border: #aaa solid 2px;
  border-radius: 3px;
  padding: 5px;
  margin-left: 10px;
}
.comments textarea:focus{
  border-color: #495a80;
}

.comment{
  margin: 5px 20px;
  border-top: 2px dashed #aaa;
}
.comment-user{
  float: left;
  padding: 2px;
  font-size: 18px;
  font-weight: bold;
  color: #444;
}
.comment-time{
  float: right;
  color: #999;
  font-size: 14px;
}
.comment-content{
  clear: both;
  color: #666;
  font-size: 16px;
  line-height: 24px;
  text-indent: 1em;
  word-break:break-all;
}

@media screen and (max-width:400px){
  .blog,
  .comments{
    float: none;
  }
  .blog{
    width: 100%;
    margin-left: 0;
  }
  .comments{
    width: 80%;
    margin-left: 10%;
  }
}
